<h1>Variants List</h1>

<ul id="tasks">
<% @products.each do |product| %>
  <li><%= link_to variant["name"], variant_path(variant['id']) %></li>
<% end %>
</ul>

<p id="logged_in">
  Logged in as <strong><%= current_user.name %></strong>.
  <%= link_to "Sign Out", signout_path %>
</p>
